{extends 'titulacion/base.html'}
{block body}
{aperm 'puede_generar', $user, 'Titulacion.manejar-actas'}
<a href="{url 'Titulacion_Views_Acta::index_eliminadas'}">Ver actas eliminadas</a>
{if $puede_generar}
	<h2>Generar nueva acta</h2>
	<form action="{url 'Titulacion_Views_Alumno::seleccionarAlumno'}" method="post">
		{$form.render_p}
		<input type="submit" value="Nueva acta" />
	</form>
{/if}
{if $filtro['o'] || $filtro['p'] || $filtro['c'] || $filtro['a']}
	<h3>Filtros activos</h3>
	<ul style="list-style-type: none;">
	{foreach $filtro as $key => $val}
		{if $val}
			<li><a href="{url 'Titulacion_Views_Acta::eliminarFiltro', array($key)}"><img class="icon" src="{media '/img/list-remove.png'}" alt="Eliminar filtro" /></a>{$val}</li>
		{/if}
	{/foreach}
	</ul>
{/if}
{$paginador.render}
{/block}
{block extrahead}
<link rel="stylesheet" media="all" type="text/css" href="{media '/css/smoothness/jquery-ui-1.8.16.custom.css'}" />
<link rel="stylesheet" media="all" type="text/css" href="{media '/css/timepicker.css'}" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript" src="{media '/scripts/jquery-ui-timepicker-addon.js'}"></script>
<script type="text/javascript" src="{media '/scripts/ui-timepicker-es.js'}"></script>
{/block}
