{extends 'titulacion/base.html'}
{block body}
<ul style="list-style-type: none;">
<li style="display: inline;"><a href="{url 'Titulacion_Views_Acta::verActa', array ($acta.id)}">Detalles</a></li>
<li style="display: inline;"><a href="{url 'Titulacion_Views_Acta::imprimirActa', array ($acta.id)}">Imprimir</a></li>
<li style="display: inline;"><a href="{url 'Titulacion_Views_Acta::imprimirPromedio', array ($acta.id)}">Imprimir Promedio</a></li>
<li style="display: inline;"><a href="{url 'Titulacion_Views_Acta::actualizarActa', array ($acta.id)}">Editar</a></li>
</ul>
<h2>Detalles</h2>
<h3>Alumno</h3>
<p>Código: {$alumno.codigo}</p>
<p>Nombre: {$alumno.nombre}</p>
<p>Apellido: {$alumno.apellido}</p>
<p>Egresa de la carrera: {$carrera.descripcion}, del plan de estudio: {$plan.plan}</p>
<p>Cursado desde: {$acta.ingreso}-{$acta.egreso}</p>
<p>Se titula por: {$modalidad.descripcion}, opción {$opcion.descripcion}</p>
<p>Con un promedio de: FIXME: Poner aquí el promedio</p>
<h3>FIXME: Jurado o Comité</h3>
<p>Funge como director de la división: {$director.apellido} {$director.nombre}</p>
<p>Como secretario: {$secretario.apellido} {$secretario.nombre}</p>
<p>Y como su jurado/comité (FIXME):
<ul><li>{$jurado1.apellido} {$jurado1.nombre}</li>
<li>{$jurado2.apellido} {$jurado2.nombre}</li>
<li>{$jurado3.apellido} {$jurado3.nombre}</li></ul>
</p>
{/block}
