{extends 'titulacion/base.html'}
{block body}
{if !$acta.eliminada}
{aperm 'puede_imprimir', $user, 'Titulacion.imprimir-actas'}
{aperm 'puede_actualizar', $user, 'Titulacion.actualizar-actas'}
{aperm 'puede_eliminar', $user, 'Titulacion.eliminar-actas'}
<ul style="list-style-type: none;">
<li style="display: inline;"><a href="{url 'Titulacion_Views_Acta::verActa', array ($acta.id)}">Detalles</a></li>
{if $puede_actualizar}<li style="display: inline;"><a href="{url 'Titulacion_Views_Acta::actualizarActa', array ($acta.id)}"> Editar</a></li>{/if}
{if $puede_imprimir}
<li style="display: inline;"><a href="{url 'Titulacion_Views_Acta::imprimirCitatorio', array ($acta.id)}"> Citatorio</a></li>
<li style="display: inline;"><a href="{url 'Titulacion_Views_Acta::imprimirActa', array ($acta.id)}"> Imprimir Acta</a></li>
<li style="display: inline;"><a href="{url 'Titulacion_Views_Acta::imprimirProtesta', array ($acta.id)}"> Protesta</a></li>
{/if}
{if $puede_eliminar}<li style="display: inline;"><a href="{url 'Titulacion_Views_Acta::eliminarActa', array ($acta.id)}"> Eliminar</a></li>{/if}
</ul>
{/if}
{if $acta.eliminada}
	<h2>Acta Eliminada</h2>
	<p><strong>Advertencia: </strong>Esta acta ha sido eliminada. Fué eliminada por {$eliminador.nombre} {$eliminador.apellido}, el día {$acta_eliminada.timestamp|date:"%d-%m-%Y a las %H:%M"}. Por la siguiente razón: <br />
	{$acta_eliminada.razon|unsafe}</p>
{/if}
<h2>Detalles</h2>
<p><strong>Folio: </strong><tt>{$acta.folio}/{$acta.create_time|date:"%Y"}</tt><br />
<strong>Número acta: </strong>{$acta.acta}</p>
<p><strong>Alumno: </strong><tt>{$alumno.nombre} {$alumno.apellido} ({$alumno.codigo})</tt><br />
<strong>Egresa de la carrera:</strong> <tt>{$carrera.descripcion}</tt>, <strong>del plan de estudio:</strong> <tt>{$plan.descripcion}</tt><br />
<strong>Cursado desde:</strong> <tt>{$acta.ingreso}-{$acta.egreso}</tt><br />
<strong>Se titula por: </strong> <tt>{$modalidad.descripcion},</tt> <strong>opción</strong> <tt>{$opcion.descripcion}</tt><br />
{if $acta.calificacion > 0}
<strong>Con un promedio de:</strong> <tt> {$acta.calificacion}</tt><br />
{/if}
<strong>Funge como director de la división: </strong> <tt>{$director.apellido} {$director.nombre}</tt><br />
<strong>Como secretario: </strong> <tt>{$secretario.apellido} {$secretario.nombre}</tt><br />
{if $opcion.tipo == 'C'}
	<strong>Y como miembros del comité de titulación:</strong>
{else}
	<strong>Y como su jurado:</strong>
{/if}
</p>
<ul>
<li><tt>{$jurado1.apellido} {$jurado1.nombre}</tt></li>
<li><tt>{$jurado2.apellido} {$jurado2.nombre}</tt></li>
<li><tt>{$jurado3.apellido} {$jurado3.nombre}</tt></li>
</ul>
{/block}



