{extends 'titulacion/base.html'}
{block body}
{aperm 'puede_editar', $user, 'Titulacion.actualizar-maestros'}
{if $puede_editar}
<p><a href="{url 'Titulacion_Views_Maestro::actualizarMaestro', array ($maestro.codigo)}">Cambiar la información</a> de este profesor</a>
{/if}
<table class="form" summary="">
<tr>
<th style="text-align: right">
	{if $user.codigo == $maestro.codigo}
	<a href="http://gravatar.com/emails/" title="Cambie su imagen en gravatar.com">
	{else}
    <a href="http://www.gravatar.com/avatar/{$maestro.correo|md5}.jpg?s=400">
    {/if}
    <img src="http://www.gravatar.com/avatar/{$maestro.correo|md5}.jpg?s=60" alt=" " />
    </a>
</th>
{if $user.codigo == $maestro.codigo}
	<td>Yo</td>
{else}
	<td>{$maestro.apellido} {$maestro.nombre}</td>
{/if}
</tr>
<tr>
<th>Última vez visto:</th>
<td>{$maestro.last_login|dateago}</td>
</tr>
</table>
<H3>Filtrar lista por fecha</H3>
{$form.render_p}
<h2>Actas en que ha participado</h2>
{$paginador.render}

{/block}

{block extrahead}
 <link rel="stylesheet" media="all" type="text/css" href="{media '/css/smoothness/jquery-ui-1.8.16.custom.css'}" />
 <link rel="stylesheet" media="all" type="text/css" href="{media '/css/timepicker.css'}" />
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
 <script type="text/javascript" src="{media '/scripts/jquery-ui-timepicker-addon.js'}"></script>
 <script type="text/javascript" src="{media '/scripts/ui-timepicker-es.js'}"></script>
 {/block}
