{extends 'titulacion/base.html'}
{block body}
{aperm 'puede_agregar', $user, 'Titulacion.agregar-carreras'}
{if $puede_agregar}
<a href="{url 'Titulacion_Views_Carrera::agregarCarrera'}"><img src="{media '/img/list-add.png'}" alt="Agregar carrera" />Agregar nueva carrera</a>
{/if}
{if count ($divisiones) != 0}
	{foreach $divisiones as $division}
		{if count ($carreras[$division.id]) != 0}
			<h3>{$division}</h3>
			<ol>
			{foreach $carreras[$division.id] as $carrera}
				<li>{$carrera.clave} - {$carrera.descripcion}</li>
			{/foreach}
			</ol>
		{/if}
	{/foreach}
{else}
	<p>No hay divisiones registradas</p>
{/if}
{/block}
