{extends 'titulacion/base.html'}
{block body}
<p>Puede ver la parte académica de esta carrera en el sistema de <a href="{url 'Calif_Views_Carrera::verCarrera', $carrera.clave}">Calificaciones</a></p>
{aperm 'puede_agregar', $user, 'Titulacion.manejar-carreras'}{if $puede_agregar}
<p><a href="{url 'Titulacion_Views_Carrera::actualizarCarrera', $carrera.clave}">Actualizar carrera</a></p>
{/if}
{aperm 'puede_visualizar', $user, 'Titulacion.visualizar-actas'}{if $puede_visualizar}
<p><a href="{url 'Titulacion_Views_Acta::porCarrera', $carrera.clave}">Ver actas de titulación de esta carrera</a></p>
{/if}
<p>Clave: {$carrera.clave}</p>
<p>División: {$carrera.get_division}</p>
<p>Descripcion: {$carrera.descripcion}</p>
{if $carrera.grado == 'L'}<p>Genera el grado de Licenciatura</p>
{elseif $carrera.grado == 'I'}<p>Genera el grado de Ingeniería</p>
{elseif $carrera.grado == 'M'}<p>Genera el grado de Maestría</p>
{elseif $carrera.grado == 'D'}<p>Genera el grado de Doctorado</p>
{else}<p>Desconocido el grado que genera. Llame al administrador</p>{/if}
<p>Profesionista en masculino: {$carrera.grado_m}</p>
<p>Profesionista en femenino: {$carrera.grado_f}</p>
<p>Nombre largo de la carrera: {$carrera.nombre_largo}</p>
{/block}
