<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="author" content="Félix Arreola Rodríguez" />
	<meta name="author" content="Miriam Rodríguez" />
	<title>Titulación - {$page_title}</title>
</head>
<body>
	<ul style="list-style-type: none;">
		<li>TODO: Crear un menú aquí</li>
	</ul>
	<!-- Esta es la información del usuario -->
	<div style="float: right">
		<p>Información de la sesión</p>
	</div>
	<div style="clear: both">
	<h1>{$page_title}</h1>
	{block body}{/block}
	</div>
{block javascript}{/block}
</body>
</html>
