{extends 'titulacion/base.html'}
{block body}
{if $form.errors}
	<div class="errors"><p>El formulario contiene algunos errores:</p></div>
{/if}
<form action="." method="post">
	<table>
		{$form.render_table}
		<tr>
			<td>Diccionario de reemplazos:</td>
			<td>
				<ul>
					<li>%% =&gt; %</li>
					<li>%c =&gt; Calificación numérica</li>
					<li>%C =&gt; Calificación con letra</li>
					<li>%d =&gt; Desempeño</li>
					<li>%L =&gt; Nombre de la carrera</li>
					<li>%t =&gt; Nombre del trabajo</li>
					<li>%m =&gt; Número de materias que estudia en el posgrado</li>
					<li>%M =&gt; Nombre del posgrado que estudia</li>
					<li>%U =&gt; Nombre de la Universidad donde estudia el posgrado</li>
				</ul>
			</td>
		</tr>
		<tr><td>&nbsp;</td><td><input type="submit" value="Nueva opción" /></td></tr>
	</table>
</form>
{/block}
